.fullHighContainer {
  display: flex;
  flex-direction: row;
}
.highContainer{
  width: 33%;
  margin: 1%;
}
.highContainer > div {
  margin: 20px;
  flex-direction: row;
  width: 70%;
}
div {
  border: 1px solid white;
}
img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;
}
.nameDiv {
  font-size: 0.7em;
}
