.fullHighContainer {
  display: flex;
  flex-direction: row;
}
.highContainer{
  width: 33%;
  margin: 1%;
}
.highContainer > div {
  margin: 20px;
  flex-direction: row;
  width: 70%;
}
.nameDiv {
  position: relative;
  right: 30px;
}
img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
